	<meta charset="utf-8">
	<title>{{ page.title }} - {{ site.title }}</title>

	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" >
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/syntax.css" >
	
	<link rel="stylesheet" href="{{ site.url }}/css/poole.css">
	<!--link rel="stylesheet" href="{{ site.url }}/css/syntax.css"-->
	<link rel="stylesheet" href="{{ site.url }}/css/hyde.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ site.url }}/js/bootstrap.min.js"></script>